<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-sm bg-white shadow-lg rounded-lg p-6">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold">{{'auth.reset_password' | translate}}</h2>
    </div>

    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
      <div class="mb-4">
        <label for="email" class="block mb-1">{{'auth.email' | translate}}</label>
        <input
          class="w-full"
          id="email"
          name="email"
          ngModel
          pInputText
          [placeholder]="'auth.enter_email' | translate"
          required
          type="email"
        />
      </div>

      <div class="flex justify-center">
        <p-button class="w-full"
                  [label]="'auth.send_reset_password_email' | translate"
                  styleClass="w-full"
                  type="submit"
                  variant="text"/>
      </div>
    </form>
  </div>
</div>
